.container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 88px;
}

.menu {
  flex: 1;
  background-color: var(--bgSoft);
}

.content {
  padding-right: 25px;
  flex: 4;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: grid;
  gap: var(--size-4);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -webkit-overflow-scrolling: touch;
}

.side {
  flex: 1;
}

